<ul class="nav nav-pills">
  <li><%= link_to('New Recipe', new_recipe_path) %></li>
  <li><%= link_to('Edit Recipe', edit_recipe_path(@recipe)) %></li>
  <li><%= link_to('Delete Recipe', @recipe, :method => :delete, :confirm => 'Are you sure?') %></li>
  <div class='spacer'></div>
</ul>

<div class="row">
  <div class="span3 offset1">
    <p class="lead"><%= @recipe.name %></p>
    <p><%= @recipe.temp %></p>
    <p><%= @recipe.cooktime %></p>
    <p><%= @recipe.ingredients %></p>
    <p><%= @recipe.instructions %></p>
    <div class="span8">
    </div>
  </div>
</div>